registry=https://registry.npmmirror.com
strict-peer-dependencies=false
auto-install-peers=true
sass_binary_site=https://npmmirror.com/mirrors/node-sass/
sharp_binary_host=https://npmmirror.com/mirrors/sharp
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips
electron_mirror=https://npmmirror.com/mirrors/electron/
playwright_download_host=https://npmmirror.com/mirrors/playwright/
